body {
	font-family: monospace;
}

#main {
	position: relative;
	z-index: 1;
}

h6 {
	padding-top: 10px;
	margin-bottom: 2px;
	color: white;
}

p {
	padding-top: 10px;
	margin-bottom: 2px;
	color: white;
}

.btn-secondary {
	background: black;
}

/*active buttons*/
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	background: #454545; 
}

/*hovered buttons*/
.btn-secondary.hover, .btn-secondary:hover {
	background: #343434;
}

/*remove box shadow from focused button*/
.btn-secondary.focus, .btn-secondary:focus {
	box-shadow: none;
}

.slidecontainer {
    width: 150px; 
    height: 38px; 
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.slidecontainerHorizontal {
    width: 150px; 
    height: 38px; 
}

.slider {
	-webkit-appearance: none;
	appearance: none;
    width: 150px; 
    height: 38px; 
	background: #454545;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 38px;
	height: 38px;
	background: #FFF;
	cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 38px; 
    height: 38px; 
    background: #FFF;
    cursor: pointer; 
}